.section2 {
  background-color: #da4533;
}
.ban {
  display: flex;
  justify-content: space-between;
}
.ban__l {
  margin-top: 100px;
  margin-bottom: 100px;
}
.ban__header {
  margin: 0;
  padding: 0;
  width: 650px;
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  /* or 51px */

  display: flex;
  align-items: center;

  /* white */

  color: #ffffff;
}
.ban__text {
  margin: 0;
  padding: 0;
  width: 600px;
  margin-top: 16px;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  display: flex;
  align-items: center;

  /* white */

  color: #ffffff;

  opacity: 0.75;
}
.ban__button {
  margin: 0;
  padding: 0;
  background-color: #da4533;
  border: none;
}
.ban__img {
  position: relative;
  left: 40px;
  top: 30px;
}
.ban__d {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .ban__img {
    position: relative;
    left: -33px;
    top: 15px;
    width: 363px;
    height: 374px;
  }
  .ban__l {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .ban__header {
    margin: 0;
    padding: 0;
    width: 480px;
    font-family: "STIX Two Text";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 135%;
    /* or 51px */

    display: flex;
    align-items: center;

    /* white */

    color: #ffffff;
  }
  .ban__text {
    margin: 0;
    padding: 0;
    width: 400px;
    margin-top: 14px;
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    display: flex;
    align-items: center;

    /* white */

    color: #ffffff;

    opacity: 0.75;
  }
  .ban__img {
    position: relative;
    top: 25px;
    left: 1px;
    width: 267px;
    height: 282px;
  }
}

@media only screen and (max-width: 480px) {
  .ban__img {
    display: none;
  }
  .ban__b {
    display: none;
  }
  .ban__d {
    display: block;
  }
  .ban__header {
    margin: 0;
    padding: 0;
    width: 440px;
    font-family: "STIX Two Text";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 135%;
    /* or 38px */

    display: flex;
    align-items: center;
    text-align: center;

    /* white */

    color: #ffffff;
  }
  .ban__text {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 440px;
    margin-top: 14px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    /* white */

    color: #ffffff;

    opacity: 0.75;
  }
  .ban__button {
    margin-left: 68px;
  }
}

@media only screen and (max-width: 360px) {
  .ban__header {
    margin: 0;
    padding: 0;
    width: 320px;
    font-family: "STIX Two Text";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */

    display: flex;
    align-items: center;
    text-align: center;

    /* white */

    color: #ffffff;
  }
  .ban__text {
    margin: 0 auto;
    padding: 0;
    width: 290px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;

    /* white */

    color: #ffffff;

    opacity: 0.75;
  }
  .ban__button {
    position: relative;
    left: -60px;
  }
  .ban__l {
    width: 320px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
